body{
    background-color: black;
    
}

form{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.formulario{
    display: block;
}

legend{
    color: aliceblue;
    border-color: aliceblue;
}



.banner{
    
    display: flex;
    justify-content: center;
}

.campoDigitar{
    width: 25%;
}

fieldset{
    
    color: azure;
}

.calcular{
    margin-top: 1.5rem;
}

span{
    color: black;
    background-color: aliceblue;
}